::-webkit-scrollbar {
    width: 16px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10pt;
    border: 4px solid white;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* General styling */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

#container {
    width: 1920px;
}

.flex {
    display: flex;
}

.flex_down {
    flex-direction: column;
}

.just_around {
    justify-content: space-around;
}

.just_between {
    justify-content: space-between;
}

.just_evenly {
    justify-content: space-evenly;
}

.just_right {
    justify-content: right;
}

.align_items_center {
    align-items: center;
}

.font_medium {
    font-weight: 500;
}

.font_bold {
    font-weight: 700;
}

.btn {
    border-radius: 6px;
    cursor: pointer;
}

.btn-sm {
    width: 148.5px;
    height: 45.5px;
    font-size: 18px;
    font-weight: 500;
}

.btn-lg {
    width: 182px;
    height: 45.5px;
    font-size: 18px;
    font-weight: 500;
}

.btn-colored {
    color: white;
    background-color: #18A0FB;
    border: none;
}

.btn-clear {
    color: #18A0FB;
    border: solid 1px #18A0FB;
    background-color: white;
}

/* top nav bar */

#nav_bar_div {
    height: 70px;
    padding: 0px 90px;
}

#nav_links_div {
    margin: 0em 6rem;
    gap: 50px;
}

#nav_links_div a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#nav_links_div a:hover {
    text-decoration: none;
    color: #18A0FB;
}

#logo {
    height: 40px;
}

#logo_name {
    font-size: 32px;
}

/* main body */

#main_body_div {
    margin: 0px 201px;
}

#temp_cover_photo_div {
    height: 330px;
    background-color: #424242;
}

#profile_card_div {
    width: 350px;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.03);
    position: relative;
    bottom: 165px;
    padding: 60px 0px;
    background-color: white;
}

#profile_picture {
    width: 200px;
}

#display_name {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 48px;
}

#favorite_list_div {
    gap: 30px;
}

#favorite_list_div div p {
    color: #777E90;
}

#sns_links_div {
    margin: 40px 0px;
    gap: 40px;
}

#form_div {
    width: 1014px;
}

#form_div h1 {
    margin-top: 80px;
    margin-bottom: 55px;
}

#form_div label {
    font-size: 20px;
    color: #777E90
}

#form_div input {
    width: 784px;
    height: 60px;
    padding-left: 25px;
    font-size: 20px;
    border: 2px solid #E0E0E0;
}

#form_div form {
    gap: 20px;
}

#buttons_div {
    margin-top: 30px;
    gap: 20px;
}

/* footer */

#footer_div {
    height: 86px;
    border-top: 2px solid #E0E0E0;
    margin-top: 100px;
}

#footer_div p {
    color: #777E90;
    font-size: 14px;
}
