<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myspice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/friends.css')}}">
</head>
<body class="flex just_around">
    <!-- container -->
    <div class="flex flex_down" id="container">
        <!-- nav bar -->
        <div class="flex just_between align_items_center" id="nav_bar_div">
            <!-- nav bar - left side links -->
            <div class="flex align_items_center">
                <img src="{{url_for('static', filename='/assets/logo.png')}}" id="logo">
                <div class="flex" id="nav_bar_links_div">
                    <a href="/dashboard">Home</a>
                    <a href="/profile/{{session.id}}">Profile</a>
                    <a href="#">Feeds</a>
                    <a href="/search">Search</a>
                    <a href="#">About</a>
                </div>
            </div>
            <!-- nav bar - right side button -->
            <a href="/logout">
                <button class="btn btn-sm btn-clear">Log out</button>
            </a>
        </div>
        <!-- cover photo -> empty div for now -->
        <img src="{{url_for('static', filename='/assets/cover.png')}}" alt="" id="cover_photo">
        <!-- search bar -->
        <form action="/search" method="post" class="flex just_center" id="search_bar">
            <input type="text" name="search_keyword" placeholder="Search by name">
            <button><img src="{{url_for('static', filename='/assets/search.png')}}" alt=""></button>
        </form>
        <!-- main body -->
        <div class="flex flex_down align_self_center" id="main_body_div">
            <!-- main body - pending requests -->
            {% if pending_requests %}
            <div class="flex flex_down" id="pending_requests_div">
                <h1 class="right_side_header">Pending Requests</h1>
                <div class="flex" id="request_cards_div">
                    {% for request in pending_requests %}
                    <div class="flex align_items_center individual_card">
                        {% if request.name %}
                        <img src="{{request.name}}" alt="" class="pending_request_picture">
                        {% else %}
                        <img src="{{url_for('static', filename='/assets/default_profile_picture.png')}}" alt="" class="pending_request_picture">
                        {% endif %}
                        <div class="flex flex_down" id="individual_card_right_side">
                            <p class="font_bold">{{request.first_name}} {{request.last_name}}</p>
                            <div class="flex" id="friend_request_buttons_div">
                                <form action="/profile/{{session.id}}/friends/accept" method="post">
                                    <input type="hidden" name="friendship_id" value="{{request.id}}">
                                    <button type="submit" class="btn-clear">Accept</button>
                                </form>
                                <form action="/profile/{{session.id}}/friends/reject" method="post">
                                    <input type="hidden" name="friendship_id" value="{{request.id}}">
                                    <button type="submit" class="btn-danger">Reject</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- main body - existing friends -->
            <div class="flex flex_down" id="existing_friends_div">
                <h1 class="right_side_header">Friends</h1>
                <div class="flex" id="results_div">
                    {% if friends %}
                        {% for friend in friends %}
                    <div class="flex flex_down align_items_center search_profile_card">
                        {% if friend.name %}
                        <a href="/profile/{{friend.id}}"><img src="{{friend.name}}" alt="" class="result_profile_pictures"></a>
                        {% else %}
                        <a href="/profile/{{friend.id}}"><img src="{{url_for('static', filename='/assets/default_profile_picture.png')}}" alt=""></a>
                        {% endif %}
                        <a href="/profile/{{friend.id}}"><h4 class="font_medium">{{friend.first_name}} {{friend.last_name}}</h4></a>
                        <form action="/profile/{{session.id}}/friends/reject" method="post">
                            <input type="hidden" value="{{friend.id}}" name="friend_id">
                            <button type="submit" class="btn btn-lg btn-danger">Unfriend</button>
                        </form>
                    </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="flex just_around align_items_center" id="footer_div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>