<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myspice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="flex just_around">
    <!-- container -->
    <div class="flex flex_down" id="container">
        <!-- top nav bar -->
        <div class="flex just_between align_items_center" id="nav_bar_div">
            <!-- left side links -->
            <div class="flex align_items_center">
                <img id="logo" src="C:\Users\danhe\Desktop\Projects\MySpice_v2\myspice_app\static\assets\logo.JPG" alt=""><span class="font_medium" id="logo_name">Myspice</span>
                <div class="flex" id="nav_links_div">
                    <a href="#">Home</a>
                    <a href="#">Profile</a>
                    <a href="#">Message</a>
                    <a href="#">Search Friends</a>
                    <a href="#">About</a>
                </div>
            </div>
            <!-- right side buttons -->
            <div>
                <button class="btn btn-sm btn-clear">Log in</button>
                <button class="btn btn-sm btn-colored">Register</button>
            </div>
        </div>
        <!-- main body -->
        <div class="flex align_items_center" id="main_body_div">
            <!-- section 1: left side -->
            <div class="flex flex_down" id="main_body_div_left">
                <header>Tired of seeing too much on your feeds?</header>
                <p>This is Danny's attempt at recreating Myspace's simplicity with a touch of modern design. </p>
            </div>
            <!-- section 2: right side -->
            <div id="main_body_div_right"></div>
        </div>
        <!-- footer -->
        <div class="flex just_around align_items_center" id="footer_div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>