<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myspice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/profile.css')}}">
</head>
<body class="flex just_around">
    <!-- container -->
    <div class="flex flex_down" id="container">
        <!-- nav bar -->
        <div class="flex just_between align_items_center" id="nav_bar_div">
            <!-- nav bar - left side links -->
            <div class="flex align_items_center">
                <img src="{{url_for('static', filename='/assets/logo.jpg')}}" id="logo"><span class="font_medium" id="logo_name">Myspice</span>
                <div class="flex" id="nav_links_div">
                    <a href="/dashboard">Home</a>
                    <a href="/profile/{{session.id}}">Profile</a>
                    <a href="#">Message</a>
                    <a href="/search">Search</a>
                    <a href="#">About</a>
                </div>
            </div>
            <!-- nav bar - right side buttons -->
            <div>
                <a href="/logout"><button class="btn btn-sm btn-clear">Log out</button></a>
            </div>
        </div>
        <!-- cover photo -> empty div for now -->
        <img src="../static/assets/cover.png" alt="">
        <!-- <div id="temp_cover_photo_div"></div> -->
        <!-- main body -->
        <div class="flex just_between" id="main_body_div">
            <!-- main body - left side -->
            <div class="flex flex_down" id="main_body_left_div">
            <!-- main body - left side (profile card) -->
            <div class="flex flex_down align_items_center" id="profile_card_div">
                {% if current_picture['name'] %}
                    <img src={{current_picture.name}} class="profile_picture">
                {% else %}
                    <img src="../static/assets/default_profile_picture.png" alt="" class="profile_picture">
                {% endif %}
                    <h4 id="display_name">{{current_user.first_name}} {{current_user.last_name}}</h4>
                    {% if session.id != current_user.id %}
                        {% if are_we_friends and are_we_friends[0]['status'] == 1 %}
                            <p id="request_status_message">Friends</p>
                        {% elif are_we_friends and are_we_friends[0]['status'] == 0 %}
                            <p id="request_status_message">Friend Request Pending</p>
                        {% else %}
                            <form action="/profile/{{current_user.id}}/friend_request" method="post" onsubmit="return confirm('Are you sure you want to send a friend request?')"><button class="btn btn-lg btn-clear" id="friend_request_btn">Friend Request</button></form>
                        {% endif %}
                    {% else %}
                        <p>this is myself!</p>
                    {% endif %}
                    <div class="flex flex_down align_items_center font_medium" id="favorite_list_div">
                        <p id="display_greeting">{{current_profile.greeting}}</p>
                        <div class="flex flex_down align_items_center">
                            <p>Favorite Music: </p>
                            <p>{{current_profile.favorite_music}}</p>
                        </div>
                        <div class="flex flex_down align_items_center">
                            <p>Favorite Movies: </p>    
                            <p>{{current_profile.favorite_movies}}</p>
                        </div>
                        <div class="flex flex_down align_items_center">
                            <p>Favorite Books: </p>
                            <p>{{current_profile.favorite_books}}</p>
                        </div>
                        <div class="flex flex_down align_items_center">
                            <p>Favorite Heroes: </p>
                            <p>{{current_profile.favorite_heroes}}</p>
                        </div>
                    </div>
                    <!-- SNS links -->
                    <div class="flex align_items_center" id="sns_links_div">
                        <img src="{{url_for('static', filename='/assets/instagram.png')}}" alt="" id="instagram">
                        <img src="{{url_for('static', filename='/assets/facebook.png')}}" alt="" id="facebook">
                        <img src="{{url_for('static', filename='/assets/twitter.png')}}" alt="" id="twitter">
                    </div>
                </div>
                <!-- main body - left side (top friends) -->
                <div class="flex flex_down align_items_center" id="top_friends_div">
                    {% if current_user.first_name[-1] == 's' %}
                        <h2>{{current_user.first_name}}' Top 3 Friends</h2>
                    {% else %}
                        <h2>{{current_user.first_name}}'s Top 3 Friends</h2>
                    {% endif %}
                    <div class="flex flex_down align_items_center individual_top_friend_div">
                        <img src="../static/assets/default_profile_picture.png" alt="">
                        <h3>Joey Tribbiani</h3>
                    </div>
                    <div class="flex flex_down align_items_center individual_top_friend_div">
                        <img src="../static/assets/default_profile_picture.png" alt="">
                        <h3>Joey Tribbiani</h3>
                    </div>
                    <div class="flex flex_down align_items_center individual_top_friend_div">
                        <img src="../static/assets/default_profile_picture.png" alt="">
                        <h3>Joey Tribbiani</h3>
                    </div>
                </div>
            </div>
            <!-- main body - right side -->
            <div id="main_body_div_right">
                <!-- posts -->
                <div id="manage_post_div">
                    <h1>Recent Posts</h1>
                    <div id="display_posts_div">
                        {% if current_posts %}
                            <ul>
                                {% for post in current_posts %}
                                <li>
                                    <div class="flex">
                                        <p id="post_number">#{{post.id}}</p>
                                        <a href="/posts/{{current_user.id}}/{{post.id}}"><p id="post_title">{{post.title}}</p></a>
                                    </div>
                                    <p id="post_date">{{post.date}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% if current_posts | length > 5 %}
                                <span><a href="/posts/{{current_user.id}}/view_all" id="see_more">See more</a></span>
                            {% endif %}
                        {% else %}
                            <p>{{current_user.first_name}} has not posted anything yet.</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Comments textarea -->
                <form action="/profile/{{current_user.id}}/comment" method="post" class="flex flex_down" id="comments_div">
                    <h1>Comments</h1>
                    <textarea name="content" placeholder="Say hello!"></textarea>
                    <button type="submit" class="btn btn-colored btn-lg align_self_end">Leave a comment</button>
                </form>
                <!-- Comments display -->
                <div class="flex flex_down" id="comments_display_div">
                    {% if displayed_comments %}
                        {% for comment in displayed_comments %}
                            <div id="individual_comment_div">
                                <div class="flex" id="comment_header_div">
                                    {% if comment.name %}
                                    <a href="/profile/{{comment.id}}"><img src={{comment.name}} alt=""></a>
                                    {% else %}
                                    <a href="/profile/{{comment.id}}"><img src="../static/assets/default_profile_picture.png" alt=""></a>
                                    {% endif %}
                                    <div class="flex flex_down just_center" id="individual_comment_header_div">
                                        <p>{{comment.created_at}}</p>
                                        <a href="/profile/{{comment.id}}"><h4>{{comment.first_name}} {{comment.last_name}}</h4></a>
                                    </div>
                                </div>
                                <p id="comment_content">{{comment.content}}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{current_user.first_name}} has not received any comments yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="flex just_around align_items_center" id="footer_div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>