<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myspice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/registration.css">
</head>
<body class="flex just_around">
    <!-- container -->
    <div class="flex flex_down" id="container">
        <!-- nav bar -->
        <div class="flex just_between align_items_center" id="nav_bar_div">
            <!-- nav bar - left side links -->
            <div class="flex align_items_center">
                <img id="logo" src="../static/assets/logo.JPG" alt=""><span class="font_medium" id="logo_name">Myspice</span>
                <div class="flex" id="nav_links_div">
                    <a href="/dashboard">Home</a>
                    <a href="/profile/{{session.id}}">Profile</a>
                    <a href="#">Message</a>
                    <a href="/search">Search Friends</a>
                    <a href="#">About</a>
                </div>
            </div>
            <!-- nav bar - right side buttons -->
            <div>
                <button class="btn btn-sm btn-clear" onclick="window.location.href='/';">Log in</button>
                <button class="btn btn-sm btn-colored" onclick="window.location.href='/register';">Register</button>
            </div>
        </div>
        <!-- main body -->
        <div class="flex just_between align_items_center" id="main_body_div">
            <!-- main body - left side -->
            <div class="flex flex_down" id="main_body_div_left">
                <header>Tired of seeing too much on your feeds?</header>
                <p>This is Danny's attempt at recreating Myspace's simplicity with a touch of modern design. </p>
            </div>
            <!-- main body - right side -->
            <form action="/register" method="post">
                <div class="flex flex_down" id="main_body_div_right">
                    <header class="font_bold">Join myspice.com</header>
                    <div class="flex flex_down" id="registration_form">
                        <div class="flex just_between" id="name_input">
                            <input 
                                type="text" 
                                {% with messages = get_flashed_messages(category_filter=['registration_first_name']) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            placeholder="{{message}}
                                        {% endfor %}
                                    {% else %}
                                        placeholder="First Name"
                                    {% endif %}
                                {% endwith %}
                                id="registration_first_name" 
                                name="registration_first_name">
                            <input 
                                type="text" 
                                {% with messages = get_flashed_messages(category_filter=['registration_last_name']) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            placeholder="{{message}}
                                        {% endfor %}
                                    {% else %}
                                        placeholder="Last Name"
                                    {% endif %}
                                {% endwith %}
                                id="registration_last_name" 
                                name="registration_last_name">
                        </div>
                        <input 
                            type="text" 
                            {% with messages = get_flashed_messages(category_filter=['registration_email']) %}
                                {% if messages %}
                                    {% for message in messages %}
                                        placeholder="{{message}}"
                                    {% endfor %}
                                {% else %}
                                    placeholder="Email Address"
                                {% endif %}
                            {% endwith %}
                            id="registration_email" 
                            name="registration_email">
                        <input 
                            type="password" 
                            {% with messages = get_flashed_messages(category_filter=['registration_password']) %}
                                {% if messages %}
                                    {% for message in messages %}
                                        placeholder="{{message}}
                                    {% endfor %}
                                {% else %}
                                    placeholder="Password"
                                {% endif %}
                            {% endwith %}
                            id="registration_password" 
                            name="registration_password">
                        <input 
                            type="password" 
                            {% with messages = get_flashed_messages(category_filter=['registration_password_confirm']) %}
                                {% if messages %}
                                    {% for message in messages %}
                                        placeholder="{{message}}
                                    {% endfor %}
                                {% else %}
                                    placeholder="Confirm Password"
                                {% endif %}
                            {% endwith %}
                            id="registration_password_confirm" 
                            name="registration_password_confirm">
                    </div>
                    <button class="btn btn-sm btn-colored" type="submit">Register</button>
                </div>
            </form>
        </div>
        <!-- footer -->
        <div class="flex just_around align_items_center" id="footer_div">
            <p>No Copyright © 2022 Danny Cho. All rights reserved</p>
        </div>
    </div>
</body>
</html>
